<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Permission for exact alarms (Android 12+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    
    <application>
        <receiver 
            android:name=".NotificationActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mycompany.plugins.noti.edu.NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>
        
        <receiver 
            android:name=".ScheduledNotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mycompany.plugins.noti.edu.SCHEDULED_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
